<script>
  var is_walker = document.getElementById('is_walker');
  var walker_div = document.getElementById('walker');
  is_walker.onclick = function() {
    if(this.checked) {
      walker_div.style['display'] = 'block';
    } else {
      walker_div.style['display'] = 'none';
    }
  };
</script>

<div class="authform">
  <h3><%= t('devise.registrations.edit.edit.') %> <%= User.model_name.human %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>

    <%= f.hidden_field :role %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, :placeholder => t('devise.registrations.name'), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :autofocus => true, :placeholder => t('devise.registrations.last_name'), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :phone %>
      <%= f.phone_field :phone, :autofocus => true, :placeholder => t('devise.registrations.phone'), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :placeholder => t('devise.registrations.email'), class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>

    <% unless current_user.admin? %>
      <div class="form-group" style="font-weight: bold;">
        <% id_walker = current_user.walker 
        unless current_user.walker.nil? 
          name_walker = User.find(id_walker).name %>
          <%= "Paseador: #{name_walker}" %>
        <% end %>  
      </div>

      <div class="form-group">
        <%= f.label :is_walker %>
        <%= f.check_box :is_walker, id: 'is_walker' %>
      </div>
    <% end %>

    <% display_walker = current_user.walker? ? 'block' : 'none' %>
    <div id="walker" style="display:<%= display_walker %>;">    
      <!-- <div class="form-group">
        <%#= f.label :num_pets %>
        <%#= f.text_field :num_pets, :autofocus => true, :placeholder => t('devise.registrations.num_dogs'), class: 'form-control' %>
      </div> -->
      <div class="form-group">
        <%= f.label :experience %>
        <%= f.text_area(:experience, size: '50x5', :autofocus => true, :placeholder => t('devise.registrations.experience'), class: 'form-control') %>
      </div>
    </div>

    <fieldset>
      <p><%= t('devise.registrations.edit.blank_field') %></p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', :placeholder => t('devise.registrations.password'), class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :placeholder => t('devise.registrations.repeat_password'), class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset>
      <p><%= t('devise.registrations.edit.changes') %></p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, :placeholder => t('devise.registrations.actual_password'), class: 'form-control' %>
      </div>
    </fieldset>
    <%= link_to t('devise.registrations.edit.cancel'), :back , :class => 'button left' %>
    <%= f.submit t('devise.registrations.edit.update'), :class => 'button right' %>
  <% end %>
</div>

<% if current_user.admin? %>
  <div class="authform">
  <h3><%= t('devise.registrations.edit.cancel_account') %></h3>
  <%= button_to t('devise.registrations.edit.cancel_button'), registration_path(resource_name), :data => { :confirm => t('devise.registrations.name') }, :method => :delete, :class => 'button right' %>
  </div>
<% end %>
