<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <%- model_class = User -%>
    <h3><%= t('devise.registrations.new.sign_up') %></h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <label><%= model_class.human_attribute_name(:name) %></label>
      <%= f.text_field :name, required: true, :autofocus => true, :placeholder => t('devise.registrations.name'), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, required: true, :autofocus => true, :placeholder => t('devise.registrations.last_name'), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, :autofocus => true, :placeholder => t('devise.registrations.phone'), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, required: true, :placeholder => t('devise.registrations.email'), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, required: true, :placeholder => t('devise.registrations.password'), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, required: true, :placeholder => t('devise.registrations.repeat_password'), class: 'form-control' %>
    </div>

<!--     <div class="<%#= is_walker == false ? 'form-group' : 'hidden' %>">
      <%#= f.label :is_walker %>
      <%#= f.check_box :is_walker, {checked: false} %>
    </div> -->

    <%= link_to t('devise.registrations.new.cancel'), :back , :class => 'button left' %>
    <%= f.submit t('devise.registrations.new.send'), :class => 'button right' %>
  <% end %>
</div>
