<%= render "pets/calendar" %>
<%= form_for @pet do |f| %>
  <% if @pet.errors.any?%>
    <div id="error_explanation" >
     <h2>
        <%#= pluralize(@pet.errors.count, t('activerecord.attributes.pet.errors')) %> 
        <%= t('activerecord.attributes.pet.error') %>:
      </h2>
      <ul>
        <% @pet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', data: { required: true } %>
  </div>

  <div class="form-group">
    <%= f.label :num_chip %>
    <%= f.text_field :num_chip, class: 'form-control', data: { required: true } %>
  </div>  

  <div class="form-group">
    <%= f.label :born_date %>
    <% if request.url.include? "new" %>
      <%= f.text_field :born_date, id: 'datepicker', value: DateTime.now.strftime("%d/%m/%Y"), dataclass: 'form-control', data: { required: true } %>
    <% else %>
      <%= f.text_field :born_date, id: 'datepicker', dataclass: 'form-control', data: { required: true } %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :race %><br>
    <%= f.select(:race, Race.all.map {|race| [race.name, race.name]}) %>
  </div> 
 
  <div class="form-group">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: 'form-control' %>
  </div>
 
  <div class="form-group">
    <%= link_to (t('activerecord.attributes.pet.back')), root_path, :class => 'button left' %>
    <%= f.submit "Enviar", :class => 'button right' %>
  </div>
<% end %>
