<div class="container">
  <h2><%= t 'activerecord.attributes.pet.list' %> </h2>

  <%= link_to 'Nuevo perro', new_pet_path %>

  <table class="table">
    <tr>
      <th><%= t 'activerecord.attributes.pet.name' %></th>
      <th><%= t 'activerecord.attributes.pet.num_chip' %></th>
      <th><%= t 'activerecord.attributes.pet.race' %></th>
      <th><%= t 'activerecord.attributes.pet.born_date' %></th>
      <th><%= t 'activerecord.attributes.pet.comment' %></th>
      <th colspan="3"></th>
    </tr>

    <% @pets.each do |pet| %>
      <tr>
        <td><%= pet.name %></td>
        <td><%= pet.num_chip %></td>
        <td><%#= pet.race %></td> 
        <td><%= pet.born_date.to_date %></td>
        <td><%= pet.comment %></td>
        <!-- Link to open the routes -->
        <td><%= link_to (t 'activerecord.attributes.pet.routes'), pet_path(pet) %></td>
        <td><%= link_to (t 'activerecord.attributes.pet.edit'), edit_pet_path(pet) %></td>
        <td><%= link_to (t 'activerecord.attributes.pet.delete'), pet_path(pet),
                method: :delete,
                data: { confirm: (t 'activerecord.attributes.pet.sure') } %></td>
      </tr>
    <% end %>
  </table>
</div>
