<div class="container">
  <h2><%= t 'activerecord.attributes.pet.list' %></h2>

  <%= link_to t('activerecord.attributes.pet.new_pet'), new_pet_path %>

  <table class="table">
    <tr>
      <th><%= t 'activerecord.attributes.pet.avatar' %></th>
      <th><%= t 'activerecord.attributes.pet.name' %></th>
      <th><%= t 'activerecord.attributes.pet.num_chip' %></th>
      <th><%= t 'activerecord.attributes.pet.race' %></th>
      <th><%= t 'activerecord.attributes.pet.born_date' %></th>
      <th><%= t 'activerecord.attributes.pet.comment' %></th>
      <th colspan="3"></th>
    </tr>

    <% @own_pets.each do |pet| %>
      <tr>
        <td><%= image_tag pet.avatar.thumb.url %></td>
        <td><%= pet.name %></td>
        <td><%= pet.num_chip %></td>
        <td><%= pet.race %></td> 
        <td><%= pet.born_date.to_date.strftime("%d/%m/%Y") %></td>
        <td><%= pet.comment %></td>
        <td><%= link_to (t 'activerecord.attributes.pet.routes'), pet_routes_path(pet) %></td>
        <td><%= link_to (t 'activerecord.attributes.pet.edit'), edit_pet_path(pet) %></td>
        <td><%= link_to (t 'activerecord.attributes.pet.delete'), pet_path(pet),
                method: :delete,
                data: { confirm: (t 'activerecord.attributes.pet.sure') } %></td>
      </tr>
    <% end %>
  </table>
  <% unless @own_pets.nil? %>
    <div style="text-align: center;"><%= paginate @own_pets, :theme => 'twitter-bootstrap-3' %></div> 
  <% end %>
</div>

<% if current_user.is_walker.present? %>
  <div class="container">
    <h2><%= t 'activerecord.attributes.pet.list_walker' %></h2>

    <table class="table">
      <tr>
        <th><%= t 'activerecord.attributes.pet.avatar' %></th>
        <th><%= t 'activerecord.attributes.pet.name' %></th>
        <th><%= t 'activerecord.attributes.pet.num_chip' %></th>
        <th><%= t 'activerecord.attributes.pet.race' %></th>
        <th><%= t 'activerecord.attributes.pet.born_date' %></th>
        <th><%= t 'activerecord.attributes.pet.comment' %></th>
        <th><%= t 'activerecord.attributes.pet.owner' %></th>
        <th colspan="1"></th>
      </tr>

      <% @walkered_pets.each do |pet| %>
        <tr>
          <td><%= image_tag pet.avatar.thumb.url %></td>
          <td><%= pet.name %></td>
          <td><%= pet.num_chip %></td>
          <td><%= pet.race %></td> 
          <td><%= pet.born_date.to_date.strftime("%d/%m/%Y") %></td>
          <td><%= pet.comment %></td>
          <% id_owner = Pet.find(pet.id).user_id
          name_owner = User.find(id_owner).name %>
          <td><%= name_owner %></td>
          <td><%= link_to (t 'activerecord.attributes.pet.routes'), pet_routes_path(pet) %></td>
        </tr>
       <% end unless @walkered_pets.nil? %>
    </table>
    <%# unless @walkered_pets.nil? %>
      <!--<div style="text-align: center;"><%#= paginate @walkered_pets, :theme => 'twitter-bootstrap-3' %></div>-->
    <%# end %>
  </div>
<% end %>
