<div class="authform">
  <div class="form-group">
    <strong><%= t('activerecord.attributes.pet.name') %>:</strong>
    <%= @pet.name %>
  </div>

  <div class="form-group">
    <strong><%= t('activerecord.attributes.pet.num_chip') %>:</strong>
    <%= @pet.num_chip %>
  </div>

  <div class="form-group">
    <strong><%= t('activerecord.attributes.pet.born_date') %>:</strong>
    <%= @pet.born_date %>
  </div>

  <div class="form-group">
    <strong><%= t('activerecord.attributes.pet.race') %>:</strong>
    <%= @pet.race %>
  </div> 

  <div class="form-group">
    <strong><%= t('activerecord.attributes.pet.comments') %>:</strong>
    <%= @pet.comment %>
  </div>

  <%= link_to (t('activerecord.attributes.pet.edit')), edit_pet_path(@pet), :class => 'button left' %> 
  <%= link_to (t('activerecord.attributes.pet.back')), root_path, :class => 'button right' %>
</div>
