<p>
  <strong><%= t('activerecord.attributes.pet.name') %>:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.pet.num_chip') %>:</strong>
  <%= @pet.num_chip %>
</p>

<p>
  <strong><%= t('activerecord.attributes.pet.born_date') %>:</strong>
  <%= @pet.born_date %>
</p>

<!-- <p>
  <strong>Raza:</strong>
  <%#= @pet.race %>
</p> -->

<!--<p>
  <strong>Color del pelo:</strong>
  <%#= @pet.color_hair %>
</p>-->

<!-- <p>
  <strong>Color de ojos:</strong>
  <%#= @pet.color_eyes %>
</p> -->

<p>
  <strong><%= t('activerecord.attributes.pet.comments') %>:</strong>
  <%= @pet.comment %>
</p>

<%= link_to (t('activerecord.attributes.pet.edit')), edit_pet_path(@pet) %> 
<%= link_to (t('activerecord.attributes.pet.back')), root_path %>
