<h3><%= User.model_name.human %></h3>
<p><%= t('activerecord.attributes.user.name') %>: <%= @user.name if @user.name %></p>
<p><%= t('activerecord.attributes.user.last_name') %>: <%= @user.name if @user.last_name %></p>
<p><%= t('activerecord.attributes.user.email') %>: <%= @user.email if @user.email %></p>
<p><%= t('activerecord.attributes.user.phone') %>: <%= @user.phone if @user.phone %></p>

<% if @user.role == "walker" || @user.role == "owner" %>
	<p><%= t('activerecord.attributes.user.dogs') %>: 
		<% @pets.each do |pet| %>
	    <li>
	      <%= pet.name %>
	    </li>
	  <% end %>
	</p>
<% end %>
