<!--<h3><%#= t('home.welcome') %></h3>-->
<% if current_user.admin? %>
	<p><%= link_to t('activerecord.models.user', :count => User.all), users_path %> <%= User.count %> <%= t('home.registered', :count => User.all) %></p>
<% else %>
  <h1 style="text-align: center; font-weight: bold;"><%= t('home.welcome') %></h1>
	<h1 style="text-align: center; margin-top: 2cm;"><%= t('home.slogan') %></h1>
<% end %>