<%= render 'map' %>

<div class="container">
  <!--<p id="notice"><%#= notice %></p>-->

  <h2><%= t 'activerecord.attributes.route.list' %></h2>

  <%= link_to (t 'activerecord.attributes.route.new_route'), new_route_path %>

  <table class="table">
    <tr>
      <th><%= t 'activerecord.attributes.route.gps_id' %></th>
      <th><%= t 'activerecord.attributes.route.created_at' %></th>
      <th colspan="3"></th>
    </tr>

    <% @routes.each do |route| %>
      <tr>
        <td><%= link_to (t 'activerecord.attributes.route.routes'), route %></td>
        <td><%#= link_to (t 'activerecord.attributes.route.see'), edit_route_path(route) %></td>
        <td><%= link_to (t 'activerecord.attributes.route.delete'), route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>
